*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
           background-color:#99ffcc;
           width: 700px;
           margin: 0px auto;
           height: 850px;
           padding-top: 10px; 
           }

#sidebar{
        background-color: #99ffff;
        float: left;
        width: 150px;
        height: 100%;
        padding-top: 10px;
        }       

#main{
     background-color: #ffffcc;
     float: right;
     width:550px;
     height: 100%;
     overflow: auto;
     padding-top: 10px;
     padding-left: 20px;
     padding-right: 20px;
      }

footer{
      background-color: #c599ff;
      width: 700px;
      height: 30px;
      text-align: center;
      clear :both;
      margin: 0 auto;
      padding: 3px;
      }

      nav ul{
            padding-left: 30px;
            }

header h1{
         text-align:center;
         letter-spacing: 10px;
         line-height: 60px;
         font-size: x-large;
         }

article h2{
         text-align:center;
         letter-spacing: 0px;
         line-height: 40px;        
         font-size: medium;
         }

body h3{
         
         letter-spacing: 0px;
         line-height: 40px;         
         font-size: medium;
         }

header h4{
         text-align:center;
         letter-spacing: 5px;
         line-height: 40px;
         font-weight: 250;
         }


img{
     width:400px;
     height:auto;
     padding-left: 60px;
     }

video{
     width:400px;
     height:auto;
     padding-left: 60px;
     }

article p{
         line-height: 2;
         }

ul {line-height: 2;}

.video-note {
    font-size: 15px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}
